{% extends "base.html.twig" %}

{% block title %}Discuss when you want{% endblock %}

{% block body %}
    <div class="border rounded text-bg-warning w-25 p-2 text-center mb-3 text-white fw-bold">{{ channelName }}</div>
    <div id="show-message" class="">
        {% for message in messagesForAChannel %}
            <div class="one-message">- {{ message.content }}</div>
        {% endfor %}
    </div>
    <div class="mt-5">
        {{ form_start(form) }}
        <div class="w-25">{{ form_row(form.content) }}</div>
        <button type="submit" class="btn btn-primary">Send</button>
        {{ form_end(form) }}
    </div>
{% endblock %}