{% extends "base.html.twig" %}

{% block title %}Discuss when you want{% endblock %}

{% block body %}
    <div class="border rounded text-bg-warning w-25 p-2 text-center mb-3 text-white fw-bold">{{ channelName }}</div>
    <div id="show-message" class="border w-50">
        {% for message in messagesForAChannel %}
            <div class="one-message mb-1">{{ message.author}} dit: <br> <span class="message">{{ message.content }}</span></div>
        {% endfor %}
    </div>
    <div class="mt-5">
        {{ form_start(form) }}
        <div class="w-25">{{ form_row(form.content) }}</div>
        {# <input type="submit" id="form-submit" class="btn btn-primary" value="Send"> #}
        {{ form_end(form) }}
    </div>
{# {% endblock %}

{% block javascripts %} #}
    <script src="{{ asset('js/channel.js') }}"></script>
    <script src="{{ asset('js/mercure.js') }}"></script>
    <script>
        let currentUrl = window.location.href;
        let currentIdChannel = currentUrl.charAt(currentUrl.length-1);

        const eventSource = new EventSource("{{ mercure('https://localhost:8000/channel/') }}" + currentIdChannel, { withCredentials: true });
        eventSource.onmessage = event => {
            messageMercure(JSON.parse(event.data));
        }
    </script>
{% endblock %}